<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.title.aircrafts}"></title>
    <div th:replace="layout/master-page :: header-css"/>
    <style type="text/css">
        .ftb-file-upload {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="header" th:replace="layout/master-page :: header"/>
<div class="container">
    <th:block layout:fragment="content">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-6">
            <h1 style="color: #2d3748; margin-top: 4rem;" th:text="#{aircraft.list.title}"></h1>
        </div>
        <div class="col-md-6" sec:authorize="hasRole('ADMIN')">
            <a href="/aircraft/new">
                <button id="btnNewAircraft" class="btn-add" style="float: right; margin-top: 4rem;" type="button" th:text="#{aircraft.add_aircraft}"></button>
            </a>
        </div>
    </div>
    <table id="tblAircrafts" class="table table-hover">
        <thead>
        <tr class="table-active">
            <th scope="col" th:text="#{flight.table.id}"></th>
            <th scope="col" th:text="#{aircraft.table.manufacturer}"></th>
            <th scope="col" th:text="#{aircraft.table.model}"></th>
            <th scope="col" th:text="#{aircraft.table.seats}"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="aircraft, iterStat:${aircrafts}" style="background-color: #fdfdfd">
                <th scope="row" th:text="${aircraft.aircraftId}"></th>
                <td th:text="${aircraft.manufacturer}"></td>
                <td th:text="${aircraft.model}"></td>
                <td th:text="${aircraft.numberOfSeats}"></td>
                <td sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/aircraft/edit(aircraftId=${aircraft.aircraftId})}">
                        <button class="btn btn-outline-secondary btn-sm"
                                type="button" th:text="#{aircraft.edit}">
                        </button>
                    </a>
                </td>
                <td sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/aircraft/delete(aircraftId=${aircraft.aircraftId})}">
                        <button class="btn btn-outline-danger btn-sm"
                                th:onclick="'return confirm(\'' + #{aircraft.delete_confirm} + '\')'"
                                type="button" th:text="#{aircraft.delete}">
                        </button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" th:text="#{flight.pagination.pages}"></a>
            </li>
            <th:block th:each="i:${#numbers.sequence(1,aircrafts.totalPages)}">
                <li th:class="${currentPage}==(${i-1}) ? 'page-item active' : 'page-item'">
                    <a class="page-link" th:href="@{/aircrafts(pageNo=(${i-1}))}" th:text="${i}">1</a>
                </li>
            </th:block>
        </ul>
    </div>
    <div class="col-md-6">
        <form method="post" th:action="@{/aircrafts/upload}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file_to_import_from" class="ftb-file-upload">
                    <span th:text="#{aircraft.import.label}"></span><br>
                    <input type="file" id="file_to_import_from" name="file" class="file-input form-control-file">
                    <button id="btnImport" type="submit" class="btn btn-outline-secondary" style="float: right" th:text="#{aircraft.import.button}"></button>
                </label>
            </div>
        </form>
        <th:block th:if="${messages !=null}">
            <h3 th:text="#{aircraft.import.result_title}"></h3>
            <table id="tblMessages" class="table table-hover">
                <thead>
                    <tr class="table-active">
                        <th scope="col" th:text="#{import.table.status}"></th>
                        <th scope="col" th:text="#{import.table.message}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="message, iterStat:${messages}" style="background-color: #fdfdfd">
                        <th scope="row" th:text="${message.key}"></th>
                        <td th:text="${message.value}"></td>
                    </tr>
                </tbody>
            </table>
        </th:block>
    </th:block>
</div>
</body>
</html>