<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.title.airports}"></title>
    <div th:replace="layout/master-page :: header-css"/>
    <style type="text/css"></style>
</head>
<body>
<div class="header" th:replace="layout/master-page :: header"/>
<div class="container">
    <th:block layout:fragment="content">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-6">
            <h1 style="color: #2d3748; margin-top: 2.5rem;" th:text="#{airport.list.title}"></h1>
        </div>
        <div class="col-md-6" sec:authorize="hasRole('ADMIN')">
            <a href="/airport/new">
                <button id="btnNewAirport" class="btn-add" style="float: right; margin-top: 2.5rem;" type="button" th:text="#{airport.add_airport}"></button>
            </a>
        </div>
    </div>
    
    <table id="tblAirports" class="table table-hover">
        <thead>
        <tr class="table-active">
            <th scope="col" th:text="#{flight.table.id}"></th>
            <th scope="col" th:text="#{airport.table.code}"></th>
            <th scope="col" th:text="#{airport.table.name}"></th>
            <th scope="col" th:text="#{airport.table.city}"></th>
            <th scope="col" th:text="#{airport.table.state}"></th>
            <th scope="col" th:text="#{airport.table.country}"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="airport, iterStat:${airports}" style="background-color: #fdfdfd">
                <th scope="row" th:text="${airport.airportId}"></th>
                <td th:text="${airport.airportCode}"></td>
                <td th:text="${airport.airportName}"></td>
                <td th:text="${airport.city}"></td>
                <td th:text="${airport.state}"></td>
                <td th:text="${airport.country}"></td>
                <td sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/airport/edit(airportId=${airport.airportId})}">
                        <button class="btn btn-outline-secondary btn-sm"
                                type="button" th:text="#{airport.edit}">
                        </button>
                    </a>
                </td>
                <td sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/airport/delete(airportId=${airport.airportId})}">
                        <button class="btn btn-outline-danger btn-sm"
                                th:onclick="'return confirm(\'' + #{airport.delete_confirm} + '\')'"
                                type="button" th:text="#{airport.delete}">
                        </button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div>
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" th:text="#{flight.pagination.pages}"></a>
            </li>
            <th:block th:each="i:${#numbers.sequence(1,airports.totalPages)}">
                <li th:class="${currentPage}==(${i-1}) ? 'page-item active' : 'page-item'">
                    <a class="page-link" th:href="@{/airports(pageNo=(${i-1}))}" th:text="${i}">1</a>
                </li>
            </th:block>
        </ul>
    </div>
    </th:block>
</div>
</body>
</html>