<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.title.booking}"></title>
    <div th:replace="layout/master-page :: header-css"/>
    <style type="text/css"></style>
    <div th:replace="layout/master-page :: gtm-head"/>
</head>
<body>
<div th:replace="layout/master-page :: gtm-body"/>
<div class="header" th:replace="layout/master-page :: header"/>
<div class="container">
    <th:block layout:fragment="content">
        <div class="row">
            <div class="row">
                <div class="col-md-8">
                    <h1 style="color: #2d3748; margin-top: 2rem;" th:text="#{flight.book.title}"></h1>
                </div>

            </div>
        </div>

        <form action="/flight/book" method="post">
            <div class="row">

                <div class="from-group col-md-4">
                    <label class="col-form-label" for="departureAirport" th:text="#{flight.table.from}"></label>
                    <select class="form-control" id="departureAirport" name="departureAirport">
                        <option th:each="airport, i:${airports}" th:text="${airport.airportName}"
                                th:value="${airport.airportId}">
                        </option>
                    </select>
                </div>

                <div class="from-group col-md-4">
                    <label class="col-form-label" for="destinationAirport" th:text="#{flight.table.to}"></label>
                    <span class="badge badge-danger" th:if="${AirportError!=null}"
                          th:text="${AirportError}"></span>
                    <select class="form-control" id="destinationAirport" name="destinationAirport">
                        <option th:each="airport, i:${airports}" th:text="${airport.airportName}"
                                th:value="${airport.airportId}">
                        </option>
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label class="col-form-label" for="departureTime" th:text="#{flight.search.departure_time}"></label>
                    <input class="form-control" id="departureTime" name="departureTime" placeholder=""
                           required type="date">
                </div>


                <div class="form-group col-12">
                    <button class="btn-add" style="float: right" type="submit" th:text="#{flight.book.search}"></button>
                </div>

            </div>
        </form>
        <div class="row">
            <th:block th:if="${notFound !=null}">
                <div class="col-12">
                    <p style="text-align: center; margin-top: 30px; color: red; font-weight: bold" th:text="#{flight.book.no_record}"></p>
                </div>
            </th:block>
            <th:block th:if="${flights}">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-6">
                        <h1 style="color: darkblue" th:text="#{flight.book.result}"></h1>
                    </div>

                </div>
                <table id = "tblFlights" class="table table-hover">
                    <thead>
                    <tr class="table-active">
                        <th scope="col" th:text="#{flight.table.id}"></th>
                        <th scope="col" th:text="#{flight.table.number}"></th>
                        <th scope="col" th:text="#{flight.table.from}"></th>
                        <th scope="col" th:text="#{flight.table.to}"></th>
                        <th scope="col" th:text="#{flight.table.departure}"></th>
                        <th scope="col" th:text="#{flight.table.arrival}"></th>
                        <th scope="col" th:text="#{flight.table.charge}"></th>
                        <th scope="col" th:text="#{flight.table.aircraft}"></th>
                        <th scope="col" th:text="#{flight.table.available_seats}"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:each="flight, iterStat:${flights}">
                        <tr style="background-color: #fdfdfd">
                            <th scope="row" th:text="${flight.flightId}"></th>
                            <td th:text="${flight.flightNumber}"></td>
                            <td th:text="${flight.departureAirport.airportName}"></td>
                            <td th:text="${flight.destinationAirport.airportName}"></td>
                            <td th:text="${flight.departureDate+' '+flight.departureTime}"></td>
                            <td th:text="${flight.arrivalDate+' '+flight.arrivalTime}"></td>
                            <td th:text="${flight.flightCharge}"></td>
                            <td th:text="${flight.aircraft.model}"></td>
                            <td th:text="${flight.aircraft.numberOfSeats - flight.passengers.size() +'/'+ flight.aircraft.numberOfSeats}"></td>
                            <td><a class="btn btn-primary btn-sm"
                                   th:href="@{/flight/book/new(flightId=${flight.flightId})}"
                                   th:if="${flight.passengers.size()<flight.aircraft.numberOfSeats}"
                                   type="button" th:text="#{flight.book.book_button}"></a></td>
                        </tr>
                    </div>
                    </tbody>
                </table>

            </th:block>

        </div>


    </th:block>
</div>
</body>
</html>