<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.title.flights_list}"></title>
    <div th:replace="layout/master-page :: header-css"/>
    <style type="text/css"></style>
    <div th:replace="layout/master-page :: gtm-head"/>
</head>
<body>
<div th:replace="layout/master-page :: gtm-body"/>
<div class="header" th:replace="layout/master-page :: header"/>
<div class="container">
    <th:block layout:fragment="content">
        <div class="row" style="margin-bottom: 10px">
            <div class="col-md-6">
                <h1 style="color: #2d3748; margin-top: 4rem;" th:text="#{nav.flights}"></h1>
            </div>
            <div class="col-md-6" sec:authorize="hasRole('ADMIN')">
                <a href="/flight/new">
                    <button id="btnNewFlight" class="btn-add" style="float: right; margin-top: 4rem;" type="button" th:text="#{flight.add_flight}"></button>
                </a>
            </div>
        </div>
        <table id="tblFlights" class="table table-hover">
            <thead>
            <tr class="table-active">
                <th scope="col" th:text="#{flight.table.id}"></th>
                <th scope="col" th:text="#{flight.table.number}"></th>
                <th scope="col" th:text="#{flight.table.from}"></th>
                <th scope="col" th:text="#{flight.table.to}"></th>
                <th scope="col" th:text="#{flight.table.departure}"></th>
                <th scope="col" th:text="#{flight.table.arrival}"></th>
                <th scope="col" th:text="#{flight.table.status}"></th>
                <th scope="col" th:text="#{flight.table.gate}"></th>
                <th scope="col" th:text="#{flight.table.charge}"></th>
                <th scope="col" th:text="#{flight.table.aircraft}"></th>
                <th scope="col" th:text="#{flight.table.available_seats}"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <div th:each="flight, iterStat:${flights}">
                <tr style="background-color: #fdfdfd" th:class="${iterStat.even}? 'table-active'">
                    <th scope="row" th:text="${flight.flightId}"></th>
                    <td th:text="${flight.flightNumber}"></td>
                    <td th:text="${flight.departureAirport.airportName}+' \ '+${flight.departureAirport.airportCode}"></td>
                    <td th:text="${flight.destinationAirport.airportName}+' / '+${flight.destinationAirport.airportCode}"></td>
                    <td th:text="${flight.departureDate+'  '+flight.departureTime}"></td>
                    <td th:text="${flight.arrivalDate+'  '+flight.arrivalTime}"></td>
                    <td th:text="${flight.status}"></td>
                    <td th:text="${flight.gate}"></td>
                    <td th:text="${flight.flightCharge}"></td>
                    <td th:text="${flight.aircraft.model}"></td>
                    <td th:text="${flight.aircraft.numberOfSeats - flight.passengers.size() +'/'+ flight.aircraft.numberOfSeats}"></td>
                    <td></td>
                    <td>
                        <a class="navbar-brand" href="/flight/search">
                            <img height="20" src="/img/aero-ico_.png" th:alt="#{nav.search}">
                        </a>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>
        <div>
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" th:text="#{flight.pagination.pages}"></a>
                </li>
                <th:block th:each="i:${#numbers.sequence(1,flights.totalPages)}">
                    <li th:class="${currentPage}==(${i-1}) ? 'page-item active' : 'page-item'">
                        <a class="page-link" th:href="@{/flights_list(pageNo=(${i-1}))}" th:text="${i}">1</a>
                    </li>
                </th:block>
            </ul>
        </div>

        <div class="row">
            <th:block th:if="${message !=null}">
                <div class="col-12">
                    <p style="text-align: left; margin-top: 5px; color: red; font-weight: bold">
                        <span th:text="${message}"></span>
                    </p>
                </div>
            </th:block>
        </div>
    </th:block>
</div>
</body>
</html>