<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.title.add_aircraft}"></title>
    <div th:replace="layout/master-page :: header-css"/>
    <style type="text/css"></style>
    <div th:replace="layout/master-page :: gtm-head"/>
</head>

<body>
<div th:replace="layout/master-page :: gtm-body"/>
<div class="header" th:replace="layout/master-page :: header"/>
<div class="container">
    <th:block layout:fragment="content">
        <div class="row">
            <div class="row">
                <div class="col-md-8">
                    <h1 style="color: #2d3748; margin-top: 2rem;" th:text="#{heading.add_new_aircraft}"></h1>
                </div>

            </div>
        </div>

        <form action="/aircraft/new" method="post" th:object="${aircraft}">
            <div class="row justify-content-md-center">
                <div class="col-md-6">

                    <div class="form-group">
                        <label class="col-form-label" for="manufacturer" th:text="#{form.manufacturer}"></label>
                        <span class="badge badge-danger" th:errors="*{manufacturer}"
                              th:if="${#fields.hasErrors('manufacturer')}"></span>
                        <input class="form-control" id="manufacturer" name="manufacturer" placeholder=""
                               required th:value="${aircraft.manufacturer}" type="text">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label" for="model" th:text="#{form.model}"></label>
                        <span class="badge badge-danger" th:errors="*{model}"
                              th:if="${#fields.hasErrors('model')}"></span>
                        <input class="form-control" id="model" name="model" placeholder=""
                               required th:value="${aircraft.model}" type="text">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label" for="numberOfSeats" th:text="#{form.number_of_seats}"></label>
                        <span class="badge badge-danger" th:errors="*{numberOfSeats}"
                              th:if="${#fields.hasErrors('numberOfSeats')}"></span>
                        <input class="form-control" id="numberOfSeats" name="numberOfSeats" placeholder=""
                               required th:value="${aircraft.numberOfSeats}" type="text">
                    </div>

                    <div class="form-group">
                        <button id="btnSave" class="btn-orange" style="width: 100%; text-align: center;" type="submit" th:text="#{button.save}"></button>
                    </div>

                </div>

            </div>
        </form>

    </th:block>
</div>
</body>
</html>