<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.title.add_flight}"></title>
    <div th:replace="layout/master-page :: header-css"/>
    <style type="text/css"></style>
    <div th:replace="layout/master-page :: gtm-head"/>
</head>
<body>
<div th:replace="layout/master-page :: gtm-body"/>
<div class="header" th:replace="layout/master-page :: header"/>
<div class="container">
    <th:block layout:fragment="content">
        <div class="row">
            <div class="row">
                <div class="col-md-8">
                    <h1 style="color: #2d3748; margin-top: 2rem;" th:text="#{flight.new.title}"></h1>
                </div>

            </div>
        </div>

        <form action="/flight/new" method="post" th:object="${flight}">
            <div class="row">

                <div class="from-group col-md-4">
                    <label class="col-form-label" for="aircraft" th:text="#{flight.new.aircraft}"></label>
                    <span class="badge badge-danger" th:errors="*{aircraft}"
                          th:if="${#fields.hasErrors('aircraft')}"></span>
                    <select class="form-control" id="aircraft" name="aircraft">
                        <option th:each="a, i:${aircrafts}" th:text="${a.model} + ' (' + ${a.aircraftId} + ') (' + ${a.numberOfSeats} + ')'"
                                th:value="${a.aircraftId}">
                        </option>
                    </select>
                </div>


                <div class="from-group col-md-4">
                    <label class="col-form-label" for="departureAirport" th:text="#{flight.new.departure_airport}"></label>
                    <span class="badge badge-danger" th:errors="*{departureAirport}"
                          th:if="${#fields.hasErrors('departureAirport')}"></span>
                    <select class="form-control" id="departureAirport" name="departureAirport">
                        <option th:each="airport, i:${airports}" th:text="${airport.airportName} + ' (' + ${airport.airportCode} + ')'"
                                th:value="${airport.airportId}">
                        </option>
                    </select>
                </div>

                <div class="from-group col-md-4">
                    <label class="col-form-label" for="destinationAirport" th:text="#{flight.new.destination_airport}"></label>
                    <span class="badge badge-danger" th:errors="*{destinationAirport}"
                          th:if="${#fields.hasErrors('destinationAirport')}"></span>
                    <span class="badge badge-danger" th:if="${sameAirportError!=null}"
                          th:text="${sameAirportError}"></span>
                    <select class="form-control" id="destinationAirport" name="destinationAirport">
                        <option th:each="airport, i:${airports}" th:text="${airport.airportName} + ' (' + ${airport.airportCode} + ')'"
                                th:value="${airport.airportId}">
                        </option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label class="col-form-label" for="departureTime" th:text="#{flight.new.departure_time}"></label>
                    <span class="badge badge-danger" th:errors="*{departureTime}"
                          th:if="${#fields.hasErrors('departureTime')}"></span>
                    <input class="form-control" id="departureTime" name="departureTime"
                           required th:value="${flight.departureTime}" type="datetime-local">
                </div>

                <div class="form-group col-md-6">
                    <label class="col-form-label" for="arrivalTime" th:text="#{flight.new.arrival_time}"></label>
                    <span class="badge badge-danger" th:errors="*{arrivalTime}"
                          th:if="${#fields.hasErrors('arrivalTime')}"></span>
                    <input class="form-control" id="arrivalTime" name="arrivalTime"
                           required th:value="${flight.arrivalTime}" type="datetime-local">
                </div>

                <div class="form-group col-md-6">
                    <label class="col-form-label" for="flightNumber" th:text="#{flight.new.flight_number}"></label>
                    <span class="badge badge-danger" th:errors="*{flightNumber}"
                          th:if="${#fields.hasErrors('flightNumber')}"></span>
                    <input class="form-control" id="flightNumber" name="flightNumber" placeholder=""
                           required th:value="${flight.flightNumber}" type="text">
                </div>

                <div class="form-group col-md-6">
                    <label class="col-form-label" for="gate" th:text="#{flight.new.gate}"></label>
                    <span class="badge badge-danger" th:errors="*{gate}"
                          th:if="${#fields.hasErrors('gate')}"></span>
                    <input class="form-control" id="gate" name="gate" placeholder=""
                           th:value="${flight.gate}" type="text">
                </div>

                <div class="from-group col-md-4">
                    <label class="col-form-label" for="status" th:text="#{flight.new.status}"></label>
                    <span class="badge badge-danger" th:errors="*{status}"
                          th:if="${#fields.hasErrors('status')}"></span>
                    <select class="form-control" id="status" name="status">
                        <option th:each="statusValue, i:${statuses}" th:text="${statusValue}"
                                th:value="${statusValue}">
                        </option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label class="col-form-label" for="flightCharge" th:text="#{flight.new.flight_charge}"></label>
                    <span class="badge badge-danger" th:errors="*{flightCharge}"
                          th:if="${#fields.hasErrors('flightCharge')}"></span>
                    <input class="form-control" id="flightCharge" name="flightCharge" placeholder=""
                           required th:value="${flight.flightCharge}" type="number" step="0.01">
                </div>

                <div class="form-group col-12">
                    <button id="btnSave" class="btn-orange" style="width: 100%; text-align: center;" type="submit" th:text="#{common.save}"></button>
                </div>

                <div class="row">
                    <th:block th:if="${errors !=null}">
                        <div class="col-12">
                            <p style="text-align: left; margin-top: 5px; color: red; font-weight: bold">
                                <span th:text="${errors}"></span>
                            </p>
                        </div>
                    </th:block>
                </div>

            </div>
        </form>

    </th:block>
</div>
</body>
</html>