<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.title.passengers}"></title>
    <div th:replace="layout/master-page :: header-css"/>
    <style type="text/css"></style>
    <div th:replace="layout/master-page :: gtm-head"/>
</head>
<body>
<div th:replace="layout/master-page :: gtm-body"/>
<div class="header" th:replace="layout/master-page :: header"/>
<div class="container">
    <th:block layout:fragment="content">
        <div class="row" style="margin-bottom: 10px">
            <div class="col-md-6">
                <h1 style="color: #2d3748; margin-top: 2rem;" th:text="#{passenger.list.title} + ' ' + ${flight.flightNumber}"></h1>
            </div>
        </div>
        <table id="tblPassengers" class="table table-sm">
            <thead>
            <tr class="table-active">
                <th scope="col" th:text="#{table.id}"></th>
                <th scope="col" th:text="#{table.first_name}"></th>
                <th scope="col" th:text="#{table.last_name}"></th>
                <th scope="col" th:text="#{table.phone_number}"></th>
                <th scope="col" th:text="#{table.passport_number}"></th>
                <th scope="col" th:text="#{table.email}"></th>
                <th scope="col" th:text="#{passenger.table.address}"></th>
            </tr>
            </thead>
            <tbody>
            <div th:each="passenger, iterStat:${passengers}">
                <tr style="background-color: #fdfdfd">
                    <th scope="row" th:text="${passenger.passengerId}"></th>
                    <td th:text="${passenger.firstName}"></td>
                    <td th:text="${passenger.lastName}"></td>
                    <td th:text="${passenger.phoneNumber}"></td>
                    <td th:text="${passenger.passportNumber}"></td>
                    <td th:text="${passenger.email}"></td>
                    <td th:text="${passenger.address}"></td>
                </tr>
            </div>
            </tbody>
        </table>
    </th:block>
</div>
</body>
</html>